
/* imagens de capa de cada pagina */

#fundo-index {
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("../img/capa_index.jpg");
}
#fundo-ataques {
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("../img/capa_ataques.jpg");
}
#fundo-ciberseguranca {
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("../img/capa-cibersegurança.jpg");
}
#fundo-quemsomos {
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("../img/capa-quemsomos.jpg");
}
#fundo-contato {
    height: calc(100vh - 50px);
    background: no-repeat center/cover url("../img/capa-contato.jpeg");
}


/* formatação do cabeçalho */

#logo {
    position: absolute;
    left: 5%;
    top: 7%;
    width: 140px;
    height: 70px;
}
nav {
    position: absolute;
    right: 5%;
    top: 10%;
}
nav ul li {
    float: left;
    margin: 0 0 0 15px;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.menu:hover {
    color: rgb(244, 252, 129);
    text-shadow: 0 0 10px white;
}

.frase-cabecalho {
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35%;
    margin-left: 18%;
}


/* formatação para o conteúdo geral */

main {
    margin: 50px 100px 20px 100px
}
section {
    margin: 50px 0 ;
}
h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    font-weight: bold;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4 {
    font-weight: bold;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h5 {
    font-weight: bold;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
    margin: 12px 0 0 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr {
    background: black;
    margin: 0 0 20px 0;
}
span {
    font-weight: bold;
}
.italico {
    font-style: oblique;
}
.linkagem {
    margin: 20px;
}

/* formatação da pagina index */

.img-note-1 {
    width: 420px;
    height: 280px;
    float: right;
    margin: 20px 0 20px 20px;
}


/* formatação da pagina ataques */

.img-ataques-um {
    float: left;
    width: 380px;
    height: 290px;
    margin: 20px 20px 0px 0;
}
.video-anonymous {
    float: right;
    margin: 10px 0 20px 20px;
}
.img-corporativo {
    float: left;
    width: 400px;
    height: 300px;
    margin: 20px 20px 20px 0;
}


/* formatação da pagina cibersegurança */

.img-pagina-ciber {
    float: right;
    width: 420px;
    height: 280px;
    margin: 0px 0 20px 20px;
}

.limpar-float {
    clear: right;
    
}


/* formatação para pagina quem somos */

.introducao-quemsomos {
    margin: 0 0 20px 0;
}
.quemsomos {
    margin: 0 0 0 0;
}
.img-dev {
    float: left;
    width: 150px;
    height: 200px;
    margin: 0 20px 20px 0;
}
.limparfloat {
    clear: left;
}

.timcook {
    margin: 40px 40px 0 40px;
}
.ir-para-contato {
    margin: 20px 0 0 0;
    text-align: center;
}


/* formatação para a pagina contato */

/* formulario - pagina contato */

.flex-contato {
    display: flex;
}
.formulario {
    width: 450px;
}
.h2-formulario {
    font-size: 24px;
}
.span-red {
    color: red;
}
form label, legend {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px;
    
    
}
.input-padrao, select {
    display: block;
    width: 400px;
    padding: 10px 25px;
    font-size: 16px;
    margin: 2% 0 2%;
    border-radius: 8px;
}
.input-sexo, .label-sexo {
    display: inline;
    margin: 0 10px 20px 0 ;
}
textarea:hover, .input-padrao:hover, .input-sexo:hover, select:hover {
    box-shadow: 0 0 0.7em rgb(102, 199, 255);
}
select {
    border: solid black;
    width: 450px;
    margin: 0 0 20px 0;
}
option {
    font-size: 18px;
}
.regiao {
    font-weight: bold;
}

.mensagem {
    margin: 0 0 2%;
    border-radius: 10px;
    border: solid black;
    width: 400px;
    padding: 10px 25px ;

}
.botao-enviar {
    width: 400px;
    padding: 10px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
    margin: 0 0 0 27px;
}
.botao-enviar:hover {
    background-color: darkorange;
    transform: scale(1.1)
}

/* informação - pagina contato */

.informacoes {
    width: 450px;
    margin: 10% 0 0 13% ;
}
.contato{
    height: 150px;
    width: 100%;
    vertical-align: top;
    background-color: rgb(228, 225, 225);
    margin: -1%;
    padding: 2% 1% 2% 4%;
}
.h2-contato {
    text-align: center;
}





/* rodapé */

footer {
    clear: right;
    background-color: rgb(133, 133, 133);
    height: 150px;
    font-size: 15pt;
    margin-top: 50px;
    padding: 20px;
    position: relative;
}
.ul-footer {
    width: 720px;
    margin: 40px auto 130px;
}
.li-footer {
    float: left;
    margin: 0 0 0 25px;
}
.p-footer {
    text-align: center;
    color: white;
}

.conclusaopwr {
    clear: left;
    color: white;
    text-align: center;
}

.copyright {
    height: 30px ;
    background-color: rgb(53, 53, 53);
    text-align: center;
    padding-top: 15px;
    color: white;
}